#mainDiv {
    width: 40%;
    margin: auto;
    background-color: white;
    justify-content: center;
    
}

label {
    display: inline-block;
    width: 40%;
    text-align: right;
    margin-top: 1%;
    margin-bottom: 1%;;
}



#clothingName {
    color: black;
    margin: auto;
    display: inline-block;
    margin-left: 2%;
    

}

#clothingType {
    color: black;
    margin: auto;
    width: 30%;
    display: inline-block;
    margin-left: 2%;
  
}

#clothingColor {
    color: black;
    margin: auto;
    width: 10%;
    display: inline-block;
    margin-left: 2%;
   
}

#clothingFile {
    color: black;
    margin: auto;
    display: inline-block;
    margin-left: 2%;
}









